* {
  box-sizing: border-box;
}
a,
input[type="submit"] {
  transition: color 0.2s, background-color 0.2s;
}
body,
input,
textarea {
  font-family: georgia, serif;
}
body {
  font-size: 112.5%;
  /* 18px */

  line-height: 27px;
  margin: 0;
}
header,
h1,
h2 {
  font-family: 'Great Vibes', cursive;
}
header,
footer {
  text-align: center;
}
header,
article {
  padding: 0 5%;
}
header {
  margin-bottom: 27px;
  padding-top: 27px;
}
h1,
h2 {
  letter-spacing: 4px;
  margin: 27px 0;
}
h1 {
  font-size: 48px;
  line-height: 54px;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
p {
  margin: 27px 0;
  line-height: 27px;
}
.center-img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
a {
  color: #73bda4;
  text-decoration: none;
}
a:hover,
a:active {
  color: #418971;
}
ul {
  margin: 27px 0;
  padding: 0;
  list-style-type: none;
}
li {
  padding-left: 20px;
  position: relative;
}
li::before {
  content: '~';
  position: absolute;
  left: 0;
}
section + section {
  margin-top: 54px;
}
label {
  display: block;
  margin-bottom: 4px;
}
input[type="text"],
input[type="submit"],
textarea {
  background-color: transparent;
  border: 1px solid #ccc;
  display: block;
  font-size: 18px;
  line-height: 27px;
  padding: 0 10px;
  width: 100%;
  margin-bottom: 21px;
}
input[type="text"]:focus,
input[type="submit"]:focus,
textarea:focus {
  outline-color: #9C9BDC;
}
input[type="submit"] {
  padding: 5.5px 0;
}
input[type="submit"]:focus,
input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: #eee;
}
.optional {
  color: #bbb;
}
.flower-divider {
  margin: 54px auto;
}
.btn {
  background-color: #73bda4;
  color: #fff;
  display: inline-block;
  padding: 6.75px 15px;
  border-radius: 6px;
  margin-top: -6.75px;
}
.btn:hover {
  background-color: #418971;
  color: #fff;
}
.hotels li {
  margin-bottom: 27px;
}
.location {
  display: block;
}
.polaroids {
  white-space: nowrap;
  padding-top: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.polaroid {
  background-color: #fff;
  box-shadow: 0 0 5px 1px #bbb;
  padding: 10px;
  width: 110px;
  height: 110px;
  display: none;
}
.polaroid + img {
  margin-left: 10px;
}
@media (max-width: 414px) {
  .rsvp {
    margin-top: 54px;
  }
  .bottom-flowers {
    margin-top: 27px;
  }
  .polaroid-mike-anne,
  .polaroid-field,
  .polaroid-richmond {
    display: inline-block;
  }
  .polaroid-field {
    order: 1;
  }
  .polaroid-mike-anne {
    order: 2;
    transform: translate(0, -20px);
  }
  .polaroid-richmond {
    order: 3;
  }
}
@media (min-width: 769px) {
  article {
    text-align: left;
  }
  article {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  section {
    width: 40%;
  }
  section.wide {
    width: 90%;
  }
  section + section {
    margin-top: 0;
  }
  h2 {
    margin-top: 54px;
  }
  .hidden-md {
    display: none;
  }
  .hotels li {
    margin-bottom: 0;
  }
  .location {
    display: inline;
  }
  .location::before,
  .location::after {
    content: ' ~ ';
  }
  .top-flowers,
  .bottom-flowers {
    width: auto;
  }
  .polaroid {
    display: inline-block;
    width: 150px;
    height: 150px;
    bottom: -30px;
  }
  .polaroid:nth-child(even) {
    transform: translate(0, -20px);
  }
}
